<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scu.user.mapper.UserMapper">

  <sql id="allFields">
      id,
      username,
      password,
      role
  </sql>

  <select id="list" parameterType="org.scu.user.vo.QUser" resultType="org.scu.user.entity.User">
    select
    <include refid="allFields"/>
    FROM
    `user`
    WHERE
    1=1
    <if test="username != null and username != ''">
      AND `username` = #{username}
    </if>
    <if test="role != null">
      AND role = #{role}
    </if>
    limit #{startRecord}, #{endRecord}
  </select>

  <select id="count" parameterType="org.scu.user.vo.QUser" resultType="long">
    select
    count(1)
    FROM
    `user`
    WHERE
    1=1
    <if test="username != null and username != ''">
      AND username = #{username}
    </if>
    <if test="role != null">
      AND role = #{role}
    </if>
  </select>

  <select id="getById" parameterType="long" resultType="org.scu.user.entity.User">
    SELECT
    <include refid="allFields"/>
    FROM
    `user`
    WHERE
    id = #{id}
  </select>

  <insert id="insert" parameterType="org.scu.user.entity.User" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO `user`
    (
      username,
      password,
      role,
      create_time,
      update_time
    )
    VALUES
    (
      #{username},
      #{password},
      #{role},
      #{createTime},
      #{updateTime}
    )
  </insert>

  <update id="update" parameterType="org.scu.user.entity.User">
    UPDATE
      `user`
    SET
      username = #{username},
      password = #{password},
      role = #{role},
      update_time = #{updateTime}
    WHERE
      id = #{id}
  </update>

  <delete id="removeById" parameterType="long">
    DELETE
    FROM
      `user`
    WHERE
      id = #{id}
  </delete>

  <select id="getAll" parameterType="org.scu.user.vo.QUser" resultType="org.scu.user.entity.User">
    select
    id,
    username,
    role
    FROM
    `user`
    WHERE
    1=1
    <if test="username != null and username != ''">
      AND username like concat(concat('%',#{username}),'%')
    </if>
    <if test="id != null">
      AND id = #{id}
    </if>
  </select>
</mapper>