<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scu.activity.mapper.ActivityResultMapper">
  <update id="update">
    UPDATE
    activity
    SET
    <trim suffixOverrides=",">
      result_image = #{image},
      result_content = #{content},
      result_title = #{title},
    </trim>
    WHERE
    <trim suffixOverrides="and">
      `id` = #{id} and
    </trim>
  </update>

  <select id="list" parameterType="org.scu.activity.vo.QActivityResult"
    resultType="org.scu.activity.entity.ActivityResult">
    SELECT
      activity.id,
      activity.result_image image,
      activity.result_content content,
      activity.result_title title
    FROM
      activity
    WHERE
      activity.result_image IS NOT NULL,
    AND activity.result_content IS NOT NULL,
    AND activity.result_title IS NOT NULL
    limit #{startRecord}, #{endRecord}
  </select>

  <select id="count" parameterType="org.scu.activity.vo.QActivityResult"
    resultType="long">
    SELECT
    count(1)
    FROM
      activity
    WHERE
      activity.result_image IS NOT NULL,
    AND activity.result_content IS NOT NULL,
    AND activity.result_title IS NOT NULL
  </select>
</mapper>