<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scu.activity.mapper.ActivityMoneyMapper">
  <select id="listMoneyUse" parameterType="org.scu.activity.vo.QActivityMoney"
    resultType="org.scu.activity.entity.Money">
    SELECT
    money_use.id,
    money_use.activity_id activityId,
    money_use.`use`,
    money_use.sum,
    money_use.read,
    money_use.create_time createTime,
    money_use.update_time updateTime
    FROM
    money_use,activity
    WHERE
    activity.club_union_id = #{clubOrUnionId}
    AND
    activity.id = activity_id
    AND
    activity.type = #{type}
    <if test="status != null">
      AND money_use.read = #{status}
    </if>

  </select>

  <insert id="insertActivityMoneyUse" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
    money_use
    (
    <trim suffixOverrides=",">
      activity_id,
      `use`,
      `sum`,
      `read`,
      create_time,
      update_time,
    </trim>
    )
    VALUES
    <foreach collection="list" item="money" index="index" separator=",">
      (
      <trim suffixOverrides=",">
        #{money.activityId},
        #{money.use},
        #{money.sum},
        #{money.read},
        #{money.createTime},
        #{money.updateTime},
      </trim>
      )
    </foreach>
  </insert>

  <update id="updateReadStatus" parameterType="HashMap">
    UPDATE
    money_use
    SET
    <trim suffixOverrides=",">
      `read` = #{read},
      update_time = #{updateTime},
    </trim>
    WHERE
    activity_id = #{activityId}
  </update>

  <select id="listClubMoneyUsage" resultMap="activityMoney"
    parameterType="org.scu.activity.vo.QActivityMoney">
    SELECT
    activity.id,
    activity.theme,
    activity.time_begin timeBegin,
    activity.money money,
    club.name clubName,
    money_use.id moneyUseId,
    money_use.activity_id moneyUseActivityId,
    money_use.`use`,
    money_use.sum,
    money_use.`read`
    FROM
    activity
    LEFT JOIN
    money_use
    ON
    activity.id = money_use.activity_id
    LEFT JOIN
    club
    ON
    club.id = activity.club_union_id
    WHERE
    activity.money > 0
    AND
    activity.type = 2
    <if test="status != null">
      AND money_use.read = #{status}
    </if>
  </select>

  <resultMap id="activityMoney" type="org.scu.activity.vo.VActivity">
    <id column="id" property="id" ></id>
    <result column="theme" property="theme"></result>
    <result column="clubName" property="clubOrUnionName"></result>
    <result column="money" property="money"></result>
    <result column="timeBegin" property="timeBegin"></result>
    <collection property="moneyUse" ofType="org.scu.activity.entity.Money">
      <result column="moneyUseId" property="id"/>
      <result column="moneyUseActivityId" property="activityId"/>
      <result column="use" property="use"/>
      <result column="sum" property="sum"/>
      <result column="read" property="read"/>
    </collection>
  </resultMap>
</mapper>
