<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scu.activity.mapper.ActivityMoneyMapper">
  <select id="listMoneyUse" resultType="org.scu.activity.entity.Money">
    SELECT
    money_use.id,
    money_use.activity_id activityId,
    money_use.`use`,
    money_use.sum,
    money_use.read,
    money_use.create_time,
    money_use.update_time
    FROM
    money_use,activity
    WHERE
    activity.clubUnionId = #{clubOrUnionId}
    AND
    activity.id = activity_id
    AND
    activity.type = #{activityType}

  </select>

  <insert id="insertActivityMoneyUse" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO
    <trim suffixOverrides=",">
      money_use
      (
      activity_id,
      `use`,
      `sum`,
      `read`,
      create_time,
      update_time,
      )
    </trim>
    VALUES
    <foreach collection ="list" item="money" index= "index" separator =",">
      (
      <trim suffixOverrides=",">
        #{money.activityId},
        #{money.use},
        #{money.sum},
        #{money.read},
        #{money.createTime},
        #{money.updateTime},
      </trim>
      )
    </foreach >
  </insert>
</mapper>
